<div class="races-container">
	<ul>
		<% @teams.each do |team| %>
			<a href="<%=team_url(team.slug)%>"> 
				<li class="team-container">
					<h2><%= team.name %></h2>
				</div>
			</a>
		<% end %>
	</ul>
</div>