<form action="<%= search_races_url %>" method="get">
  <label for="search_race">Search</label>
    <input
      type="text"
      name="q"
      placeholder="Search for races"
      id="race-search-input"
      autocomplete="off">
  <input class="sign-up-button" type="submit" value="Go">
</form>

<form action="<%= search_runners_url %>" method="get">
  <label for="search_runner">Search</label>
    <input
      type="text"
      name="q"
      placeholder="Search for runners"
      id="runner-search-input"
      autocomplete="off">
  <input class="sign-up-button" type="submit" value="Go">
</form>

<div class="race-results-container">
</div>

<div class="runner-results-container">
</div>

<script type="text/javascript">

    $("#race-search-input").on("keyup", function (event) {
      var $currentTarget = $(event.currentTarget);
      $q = $("#race-search-input").val();

      if ($q.length >= 2) {
        $.ajax({
          url: "<%= search_races_url %>",
          type: "GET",
          data: {'q': $q},
          success: function (resp) {
            $('.race-results-container').html(resp);
          }
        });
      } else {
        $('.race-results-container').empty();
      }
    });  

    $("#runner-search-input").on("keyup", function (event) {
      var $currentTarget = $(event.currentTarget);
      $q = $("#runner-search-input").val();

      if ($q.length >= 2) {
        $.ajax({
          url: "<%= search_runners_url %>",
          type: "GET",
          data: {'q': $q},
          success: function (resp) {
            $('.runner-results-container').html(resp);
          }
        });
      } else {
        $('.runner-results-container').empty();
      }
    });  

</script>