<div class="races-container">
	<ul>
	  <% @races.each do |race| %>
	  	<a href="<%=race_url(race.slug)%>">
	  	<li class="race-container">
	  		<h2 class="race-name">
	  			<%=race.name%>
	  		</h2>
	  		<div class="race-details">
				  <dl>
				    <% race.attributes.each do |attribute, value| %>
				      <% next if value.nil? %>
				      <% next if ["club_points", "id", "created_at", "updated_at", "date", "temperature", "humidity", "name", "slug"].include? attribute %>
				      <dt class="race-attribute">
				        <strong>
				          <% if attribute == "date_and_time" %>
				            date / time:
				          <% else %>
				            <%= attribute %>:
				          <% end %>
				        </strong>
				      </dt>
				      <dd class="race-attribute-value">
				        <%= value %>
				        <% case attribute %>
				        <% when "distance" %>
				          <% if value == 1.0 %>
				            mile
				          <% else %>
				            miles
				          <% end %>
				        <% end %>
				      </dd>
				    <% end %>
				  </dl>
	  		</div>
		</li>
	  <% end %>
	</ul>
</div>

<script>

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-60193441-1', 'auto');
	ga('send', 'pageview');

</script>
