<div class="races-container">
	<ul>
	  <% @races.each do |race| %>
	  	<a href="<%=race_url(race.id)%>">
	  	<li class="race-container">
	  		<h2 class="race-name">
	  			<%=race.name%>
	  		</h2>
	  		<div class="race-details">
			  <dl>
			    <% race.attributes.each do |attribute, value| %>
			      <% next if value.nil? %>
			      <% next if ["club_points", "id", "created_at", "updated_at", "date", "temperature", "humidity", "name"].include? attribute %>
			      <dt class="race-attribute">
			        <strong>
			          <% if attribute == "date_and_time" %>
			            date / time:
			          <% else %>
			            <%= attribute %>:
			          <% end %>
			        </strong>
			      </dt>
			      <dd class="race-attribute-value">
			        <%= value %>
			        <% case attribute %>
			        <% when "distance" %>
			          <% if value == 1.0 %>
			            mile
			          <% else %>
			            miles
			          <% end %>
			        <% end %>
			      </dd>
			    <% end %>
			  </dl>
	  		</div>
		</li>
	  <% end %>
	</ul>
</div>

