<div class="home-container">
	<a href="http://www.northbrooklynrunners.org">
		<div class="home-logo-container">
			<img src="<%=asset_path "home_page/nbr.jpg"%>">
		</div>
	</a>
	<a href="http://www.tcsnycmarathon.org/">
		<div class="home-logo-container">
			<img src="<%=asset_path "home_page/nycmarathon.jpg"%>">
		</div>
	</a>
	<a href="http://www.nyrr.org">
		<div class="home-logo-container">
			<img src="<%=asset_path "home_page/nyrr.png"%>">
		</div>
	</a>
</div>