html, body, h1, h2, div, img, label, input, form, button, ul, ol, li, a, textarea, p, tr, th {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: black;
}

body {
  min-width: 800px;

}

input, textarea {
  padding: 5px 10px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 26px;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

body, textarea {
  font-family: sans-serif;

}

div {
  display: block;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

.navbar-inner {
  padding-top: 5px;
}

.navbar .nav {
  margin-top: 3px;
}

.table th, .table td {
  text-align: center;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 2px 5px;
}

table.dataTable thead > tr > th {
  padding-left: 4px;
  padding-right: 4px;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 8px 4px;
}

/* clickable fields in datatables */

/* results show table */

table.dataTable tbody td.result-table-clickable-td {
  padding: 0px 4px;
}

.result-table-clickable-field {
  padding: 8px 0px;
  &:hover {
    color: #109cfb;
  };
  &:active {
    background-color: #f1f1f1;
  };
}

/* runner show table */

td.runner-table-clickable-td {
  padding: 0px 8px;
}

.runner-table-clickable-field {
  padding: 8px 0px;
  &:hover {
    color: #109cfb;
  };
  &:active {
    background-color: #f1f1f1;
  };
}

td.dataTables_empty {
  height: 360px;
  vertical-align: middle;
  font-size: 30px;
}

/* NAV BAR */

.logo-picture {
  width: 20px;
  padding-top: 5px;
  padding-right: 6px;
  float: left;
}

.header-search-bar {
  float: left;
}

.header-search-bar-input {
  padding: 8px 6px !important;
  margin-bottom: 0px !important;
};

.header-buttons-container {
  float: left;
}

.all-results-container {
  display: none;
  position: fixed;
  border: 1px solid #dcdcdc;
  border-bottom: none;
  width: 340px;
  left: 166px;
  top: 44px;
  z-index: 1;
  background: white;
  border-radius: 2px;
  padding-top: 3px;
}

/* BODY */

.content-container {
  padding: 10px 20px;
  width: 100%;
}

.search-all-item {
  border-bottom: 1px solid #dcdcdc;
  padding: 9px 20px;
  &:hover {
    background-color: #f8f8f8;
  };
  &:active {
    background-color: #c7c7c7;
  };

  .search-all-left {
    font-weight: bold;
  }

  .search-all-right {
    font-size: 12px;
    padding-left: 20px;
  }
}